name: Nix Config CI

on:
  pull_request:
  push:
    branches: [main]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v22
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Flake Check
        run: nix flake check

      - name: Build WSL Dev
        run: nix build .#homeConfigurations.wsl-dev.activationPackage --dry-run

      - name: Build Debian Remote
        run: nix build .#homeConfigurations.debian-remote.activationPackage --dry-run

      - name: Build Debian GUI
        run: nix build .#homeConfigurations.debian-gui.activationPackage --dry-run

      - name: Build Qubes Dev
        run: nix build .#homeConfigurations.qubes-dev.activationPackage --dry-run

  # Separate job for macOS to save minutes if Linux fails first
  check-mac:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v22
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Build Mac GUI
        run: nix build .#darwinConfigurations.mac-gui.system --dry-run
